@import 'common';

// 산학협력 공통
.cooperation {
    .page-header {
        background-image: url(/assets/images/cooperation/bg_page_header.jpg);
    }
}

// family-company
.family-company {
    .section-content {
        .tab-menu {
            margin-bottom: 60px;
        }
        article {
            & ~ article {
                margin-top: 80px;
            }
            .article-header {
                > p {
                    font-size: 17px;
                    color: #666;
                    line-height: 30px;
                    font-weight: 400;
                    letter-spacing: -.8px;
                }
            }
            &.purpose {
                .article-header {
                    padding-bottom: 70px;
                }
                .article-content {
                    .method-list {
                        overflow: hidden;
                        > li {
                            position: relative;
                            width: 25%;
                            float: left;
                            text-align: center;
                            .icon-item {
                                display: block;
                                width: 190px;
                                padding: 52px 0;
                                margin: 0 auto;
                                border-radius: 50%;
                                img {
                                    display: block;
                                    margin: 0 auto;
                                }
                            }
                            .details {
                                font-size: 17px;
                                color: #333;
                                font-weight: 400;
                                line-height: 26px;
                                letter-spacing: -.25px;
                                margin-top: 30px;
                                small {
                                    display: block;
                                    font-size: 15px;
                                    color: #666;
                                    font-weight: 300;
                                    .icon-check-1 {
                                        color: #f3981d;
                                        &:before {
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }
                            &:after {
                                position: absolute;
                                top: 79px;
                                right: -21px;
                                content: url(/assets/images/cooperation/icon_next_arrow.png);
                            }
                            &:last-child {
                                &:after {
                                    content: "";
                                }
                            }
                            &:nth-of-type(odd) {
                                .icon-item {
                                    background-color: #004483;
                                }
                            }
                            &:nth-of-type(even) {
                                .icon-item {
                                    background-color: #7fa1c1;
                                }
                            }
                        }
                    }
                    > p {
                        font-size: 15px;
                        color: #666;
                        font-weight: 400;
                        letter-spacing: -.25px;
                        margin-bottom: 40px;
                    }
                    .attention {
                        font-size: 14px;
                        color: #999;
                        font-weight: 300;
                        line-height: 26px;
                        &:before {
                            content: "* ";
                        }
                    }
                    .decimal-list {
                        > li {
                            > dl {
                                position: relative;
                                padding-left: 115px;
                                > dt {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    font-size: 15px;
                                    color: #333;
                                    font-weight: 500;
                                    line-height: 30px;
                                }
                                > dd {
                                    font-size: 14px;
                                    color: #666;
                                    line-height: 30px;
                                }
                            }
                            &:before {
                                top: 5px;
                            }
                        }
                    }
                }
            }
            &.benefit {
                .article-content {
                    .table-wrap {
                        margin-bottom: 70px;
                        .table {
                            margin-bottom: 30px;
                            tbody {
                                tr {
                                    td {
                                        font-size: 15px;
                                        i {
                                            display: inline-block;
                                            &.icon-circle {
                                                color: #999;
                                            }
                                            &.icon-star {
                                                color: #d79646;
                                            }
                                            &.icon-diamond {
                                                color: #d79646;
                                            }
                                            &:before {
                                                margin: 0;
                                            }
                                        }
                                        small {
                                            font-size: 12px;
                                        }
                                        &.bg-or {
                                            background-color: #f8ecde;
                                        }
                                    }
                                }
                            }
                        }
                        .attention {
                            font-size: 15px;
                            color: #666;
                            line-height: 26px;
                            font-weight: 400;
                            i {
                                color: #d79646;
                            }
                            &:before {
                                content: "* ";
                            }
                        }
                    }
                    .system-list {
                        margin-top: 50px;
                        > li {
                            & ~ li {
                                margin-top: 50px;
                            }
                            > dl {
                                position: relative;
                                padding-left: 300px;
                                > dt {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    font-size: 15px;
                                    font-weight: bold;
                                    letter-spacing: -.25px;
                                    line-height: 26px;
                                    @include msr();
                                    &:before {
                                        position: relative;
                                        top: -2px;
                                        display: inline-block;
                                        width: 20px;
                                        height: 20px;
                                        font-size: 10px;
                                        color: #fff;
                                        text-align: center;
                                        line-height: 20px;
                                        font-family: "fontello";
                                        margin-right: 10px;
                                        border-radius: 50%;
                                    }
                                    span {
                                        display: block;
                                        @include noto();
                                        padding-left: 30px;
                                    }
                                }
                                > dd {
                                    > ul {
                                        > li {
                                            font-size: 14px;
                                            color: #666;
                                            font-weight: 400;
                                            line-height: 30px;
                                            &:before {
                                                content: "\e806";
                                                font-family: "fontello";
                                                margin-right: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                            &.free-member {
                                > dl {
                                    > dt {
                                        color: #2078d9;
                                        &:before {
                                            content: "\e809";
                                            background-color: #2078d9;
                                        }
                                    }
                                }
                            }
                            &.silver-member {
                                > dl {
                                    > dt {
                                        color: #333;
                                        &:before {
                                            content: "\e80e";
                                            background-color: #999;
                                        }
                                    }
                                }
                            }
                            &.gold-member {
                                > dl {
                                    > dt {
                                        color: #d79646;
                                        &:before {
                                            content: "\e80d";
                                            background-color: #d79646;
                                        }
                                    }
                                }
                            }
                            &.diamond-member {
                                > dl {
                                    > dt {
                                        color: #d79646;
                                        &:before {
                                            content: "\f219";
                                            background-color: #d79646;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.procedure {
                .article-content {
                    .procedure-list {
                        overflow: hidden;
                        > li {
                            float: left;
                            width: 16.666%;
                            text-align: center;
                            .icon-item {
                                width: 170px;
                                display: block;
                                margin: 0 auto;
                                padding:  31px 0;
                                border-radius: 50%;
                                img {
                                    display: block;
                                    margin: 0 auto;
                                }
                                > p {
                                    font-size: 12px;
                                    color: #fff;
                                    font-weight: bold;
                                    margin-top: 15px;
                                    letter-spacing: -.25px;
                                    @include msr();
                                }
                            }
                            > .details {
                                font-size: 17px;
                                color: #333;
                                font-weight: 400;
                                line-height: 26px;
                                margin-top: 20px;
                                small {
                                    font-size: 13px;
                                    color: #666;
                                    display: block;
                                    line-height: 20px;
                                }
                            }
                            &:nth-of-type(odd) {
                                .icon-item {
                                    background-color: #004483;
                                }
                            }
                            &:nth-of-type(even) {
                                .icon-item {
                                    background-color: #7fa1c1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// introduce
.cmg-introduce, .consultative-introduce {
    .section-content {
        .tab-menu {
            margin-bottom: 60px;
        }
        article {
            & ~ article {
                margin-top: 80px;
            }
            .article-header {
                > p {
                    font-size: 17px;
                    color: #666;
                    line-height: 30px;
                    letter-spacing: -.25px;
                    font-weight: 400;
                }
            }
            .article-content {
                figure {
                    padding: 70px 0 80px;
                    margin: 30px 0 40px;
                    border: 1px solid #ccc;
                    background-color: #f9f9f9;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
                > ul {
                    overflow: hidden;
                    > li {
                        float: left;
                        width: 50%;
                        > p {
                            font-size: 15px;
                            color: #666;
                            letter-spacing: -.25px;
                            font-weight: 400;
                            margin-top: 30px;
                        }
                    }
                }
                .decimal-list {
                    > li {
                        font-size: 17px;
                        line-height: 30px;
                        small {
                            display: block;
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: 300;
                        }
                        &:before {
                            top: 6px;
                        }
                    }
                }
                .table-wrap {
                    .table {
                        tbody {
                            td {
                                > ul {
                                    > li {
                                        display: inline-block;
                                        margin-right: 70px;
                                        a {
                                            display: inline-block;
                                            color: inherit;
                                        }
                                        &:last-child {
                                            margin-right: 0;
                                        }
                                        &:before {
                                            font-size: 13px;
                                            color: #999;
                                            margin-right: 10px;
                                            font-family: "fontello";
                                        }
                                        &.usr {
                                            &:before {
                                                content: "\e809";
                                            }
                                        }
                                        &.contact {
                                            @include msr();
                                            font-weight: 500;
                                            &:before {
                                                content: "\e80a";
                                            }
                                        }
                                        &.mail {
                                            @include msr();
                                            font-weight: 500;
                                            &:before {
                                                content: "\e80b";
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}